<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/jquery/dist/jquery.js"></script>

    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css"></link>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/index.js"></script>
    <title>Document</title>
</head>

<body ng-controller="MyCtrl as myCtrl">

<div class="container">
    <div class="row">
        <div class="col-xs-12">

    <form name="detailsform" novalidate ng-submit="myCtrl.inputsubmit()" onsubmit="setTimeout(function () { window.location.reload(); }, 10)">

        </br>

        <div class="form-group" ng-class="{'has-error':detailsform.email.$invalid && detailsform.email.$dirty, 
        'has-success': detailsform.email.$valid}" required> 

            <label for="InputEmail" >Email address</label>
            <input type="email" class="form-control" id="email" 
            placeholder="Email" ng-model="myCtrl.email" name="email" required>

            <span class="help-block" ng-if="detailsform.email.$invalid && detailsform.email.$dirty">
                  Please enter your email address</span>

    Valid: {{ detailsform.email.$valid }}
        </div>

       


        <div class="form-group" ng-class="{'has-error':detailsform.pass.$invalid && detailsform.pass.$dirty, 
        'has-success': detailsform.pass.$valid}" required>
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="InputPassword" 
            placeholder="Password" ng-model="myCtrl.pass" name="pass" required ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,100}$/">

            <span class="help-block">
                  Please ensure the following conditions for your password: </br>
                  i. have at least 8 characters</br>
                  ii. use both uppercase and lowercase letters (case sensitivity)</br>
                  iii. include one or more numerical digits</br>
                  iv. include one of these special characters @, #, $</span>
        </div>

 Valid: {{ detailsform.pass.$valid }}
 Dirty: {{ detailsform.pass.$dirty }}
 


       

        <div class="form-group" ng-class="{'has-error':detailsform.name.$invalid && detailsform.name.$dirty, 'has-success':detailsform.name.$valid}"> 
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" 
            placeholder="David Tan" ng-model="myCtrl.name" name="name" required>
            <span class="help-block" ng-if="detailsform.name.$invalid && detailsform.name.$dirty">
                  Please enter your name</span>
        </div>
        Valid: {{ detailsform.name.$valid }}
        
        </br>


        <div class="radio-inline">
            <label>
            <input type="radio" name="optionsRadios" id="Radios1" 
            value="male" checked ng-model="myCtrl.gender">
            Male</label>
        </div>

      


        <div class="radio-inline">
            <label>
            <input type="radio" name="optionsRadios" id="Radios2" 
            value="female" ng-model="myCtrl.gender" >
            Female</label>
        </div>

        </br>
        </br>


        <div>
            <label> 
            <input type="date" class="form-control" 
            placeholder="Date of Birth" ng-model="myCtrl.DOB" required>
            </label>
        </div>

        </br>


        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="inputaddress" 
            placeholder="Your address" ng-model="myCtrl.address" required>
        </div>


        </br>

        <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" id="inputcountry" 
            placeholder="Your country" ng-model="myCtrl.country" required>
        </div>



        </br>

        <div class="form-group" ng-class="{'has-error':detailsform.number.$invalid && detailsform.number.$dirty}">

            <label for="contactnumber">Contact Number</label>
            
            <input type="text" class="form-control" id="number" 
            placeholder="Your contact details" ng-model="myCtrl.number" 
            ng-pattern="/^[\s()+-]*([0-9][\s()+-]*){6,20}$/" name="number" required>

            <span class="help-block" ng-if="detailsform.number.$invalid && detailsform.number.$dirty">
                  You have included a invalid number</span>
            </div>


        </br>

        <button type="submit" class="btn btn-success" ng-disabled="detailsform.$invalid">
        Submit</button>

    </form>
        {{ myCtrl.message }}
    </div>
    </div>
</div>
</body>

</html>